<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://flask.palletsprojects.com/en/1.1.x/_static/flask-icon.png">
  <title>Flask MasterClass</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <main>
    <h1>Olá, Flask!</h1>
    {% if posts %}
      {% for post in posts %}
        <h4>{{ post.title }}</h4>
      {% endfor %}
    {% else %}
      <h4>Nenhum post cadastrado!</h4>
    {% endif %}
  </main>
</body>
</html>